.ant-checkbox > span {
    margin-left: 3px;
}
.ant-checkbox-group {
    display: flex;
    flex-direction: column;
}

.ant-checkbox-wrapper-checked {
    border: none !important;
}
.ant-checkbox-input {
    width: 20px !important;
    height:20px !important;

}
