.filter {
    display: flex;
    justify-content: center;
 }
 .filter__checkboxes{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0;
    margin-right: 20px;
    max-height: 275px;
    list-style: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
border-radius: 5px;

 }
 .filter__header {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    margin: 20px
 }
 .filter__tab-panel {
    display: flex;
    flex-direction: row;
 }
@media (max-width: 576px) {
    .filter {
        flex-direction: column;
    }
    .aside {
        padding-left: 40%;
    }
}
body {
    background-color: #f3f7fa;
}
